:root{
    --primary-color: rgb(177, 103, 226);
}

body{
    background-color: var(--primary-color);
}

.btn{
    background-color: rgba(255, 255, 255, 0);
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
}

.btn:hover{
    background-color: var(--primary-color);
    color: rgb(0, 0, 0);
}


/*
body{
    background-image: url("pictures/animation.gif"), url("pictures/background2.jpg"), url("pictures/background1.jpg");   -----> ADD ANY IMAGES FOR BACKFGROUND ACC TO NEED AS IN THIS EXAMPLE
    background-repeat: no-repeat,no-repeat,repeat;    ----->THIS KNOW ANIMATION.GIF NOT REPEAT ,BACKGROUND2.JPG NOT REPEAT AND THIRD ONE IS REPEAT
    background-color: brown;    SHOOWS THEIR BACKGROUND COLOR,RESIZE IMAGE ALSO

} */
