@import url('https://fonts.googleapis.com/css2?family=Trirong&family=Poppins:ital,wght@0,400;1,500&family=Ubuntu:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* *{
  border: solid 1px;
} */


:root{
    --primary-color: rgb(177, 103, 226);
}

body{
    background-color: var(--primary-color);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.73), rgba(177, 103, 226, 0.6059) 50.00%, rgba(0, 0, 0, 0.73) 100%), url(Images/21b67105-eb2f-4b54-9f9f-53f0a1ef96d2.jpg) no-repeat fixed center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.btn{
    background-color: rgba(255, 255, 255, 0);
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
}

.btn:hover{
    background-image: linear-gradient( 109.6deg,  rgba(116,18,203,1) 11.2%, rgba(230,46,131,1) 91.2% );
    color: white;
}

.a{
    margin: 8vh 15vw;
    text-align: center;
}
#Header{
    position: relative;
    margin: 8vh 0;
    padding: 2vw;
    color: #d8ebe4;
    width: 70vw;
    background-color: rgba(202, 145, 255, 0.349);
    border-radius: 10px;
    box-shadow: 5px 4px 4px rgba(255, 255, 255, 0.63);
}

#Header h1{
    font-variant: small-caps;
    text-align: center;
    text-shadow: 3px 3px 3px purple;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 4vw;
    padding-bottom: 2vw;
}

#Header p, h4{
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 3px 3px 3px violet;
    font-style: italic;
    font-size: 2vw;
}

/* .b{
    width: 80vw;
} */
#results
{
    width: 36vw;
    height: 27vw;
}
#my_camera
{
    display: inline-block;
}
#accept
{
    font-family: "Trirong", serif;
}
#display
{
    font-family: "Trirong", serif;
    color: #ff79cd;
    text-shadow:2px 2px 2px black;
    margin-top: 2vw;
    text-decoration: none;
    font-size: 2vw;
    font-weight: 700;
}
#img
{
    padding: 10px 0;
}
#user
{
    text-align: center;
    padding: 10px 0;
}
#heading
{
    font-variant: small-caps;
    text-align: center;
    color: #ff79cd  ;
    text-shadow:2px 2px 2px black;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 4vw;
    margin-top: 5.4vw;
    margin-bottom: 5.4vw;
    text-decoration: none;
}
#heading1
{
    font-variant: small-caps;
    text-align: center;
    color: white;
    text-shadow: 1.5px 1.5px 1.5px red;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 2vw;
}
#heading2
{
    font-variant: small-caps;
    text-align: center;
    color: white;
    text-shadow: 1.5px 1.5px 1.5px red;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 2vw;
}
#image
{
    color: white;
}
#btn
{
    margin-top: 20px;
}

@media only screen and (max-width: 800px) {
    .collapse {
        background: linear-gradient(black, rgba(48, 48, 48, 0.753));
        padding: 15px;
        border-radius: 6px;
    }
  }

.c{
    margin-top: 40px;
    height: 10vw;
    /* background: black; */
    background-image: linear-gradient( 109.6deg,  rgba(116,18,203,1) 11.2%, rgba(230,46,131,1) 91.2% );
}
#footer {
    position: relative;
    top: 45%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
#footer li {
    position: relative;
    list-style: none;
    margin: 0 2px;
}
#footer li::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 40px;
    height: 8px;
    background: #000;
    border-radius: 50%;
    transition: 0.5s;
    opacity: 0;
    filter: blur(2px);
    transform: scale(0.8);
}
#footer li:hover::before {
    transition-delay: 0.2s;
    opacity: 0.2;
    transform: scale(1);
}
#footer li a {
    width: 40px;
    height: 40px;
    display: block;
    transition: 0.5s;
}
#footer li:hover a {
    transform: translateY(-10px);
}
#footer li a span  {
    width: 100%;
    height: 100%;
}
#footer li a span::before {
    font-family: fontAwesome;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #262626;
    transform-origin: top;
    transition: transform 0.5s;
}
#footer li:hover a span::before {
    transform: rotateX(90deg) translateY(-50%);
}
#footer li a span::after {
    font-family: fontAwesome;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #262626;
    transform-origin: bottom;
    transition: transform 0.5s;
    transform: rotateX(90deg) translateY(50%);
}
#footer .icons:hover a span::after {
    transform: rotateX(0deg) translateY(0);
}
#footer .icons:nth-child(1) a span::before,
#footer .icons:nth-child(1) a span::after {
    content: '\f09a';
}
#footer .icons:nth-child(2) a span::before,
#footer .icons:nth-child(2) a span::after {
    content: '\f099';
}
#footer .icons:nth-child(3) a span::before,
#footer .icons:nth-child(3) a span::after {
    content: '\f0d5';
}
#footer .icons:nth-child(4) a span::before,
#footer .icons:nth-child(4) a span::after {
    content: '\f0e1';
}
#footer .icons:nth-child(1) a span::after {
    background: #3b5999;
    color: #fff;
}
#footer .icons:nth-child(2) a span::after {
    background: #55acce;
    color: #fff;
}
#footer .icons:nth-child(3) a span::after {
    background: #dd4b39;
    color: #fff;
}
#footer .icons:nth-child(4) a span::after {
    background: #0077b5;
    color: #fff;

}

.terms{
    width:100%;
    background-image: linear-gradient( 109.6deg,  rgba(116,18,203,1) 11.2%, rgba(230,46,131,1) 91.2% );

}
.terms, .cr{
  text-decoration: none;
      color: white;
}
