@import url('https://fonts.googleapis.com/css2?family=Trirong&family=Poppins:ital,wght@0,400;1,500&family=Ubuntu:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');

/* *{
  border: solid 1px;
} */


:root{
    --primary-color: rgb(177, 103, 226);
}

body{
    background-color: var(--primary-color);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.73), rgba(177, 103, 226, 0.6059) 50.00%, rgba(0, 0, 0, 0.73) 100%), url(Images/21b67105-eb2f-4b54-9f9f-53f0a1ef96d2.jpg) no-repeat fixed center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.btn{
    background-color: rgba(255, 255, 255, 0);
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
}

.btn:hover{
    background-color: var(--primary-color);
    color: rgb(0, 0, 0);
}

.a{
    margin: 8vh 15vw;
}
#Header{
    position: relative;
    margin: 8vh 0;
    padding: 2vw;
    color: #d8ebe4;
    width: 70vw;
    background-color: rgba(202, 145, 255, 0.349);
    border-radius: 10px;
    box-shadow: 5px 4px 4px rgba(255, 255, 255, 0.63);
}

#Header h1{
    font-variant: small-caps;
    text-align: center;
    text-shadow: 3px 3px 3px violet;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 4vw;
    padding-bottom: 2vw;
}

#Header p, h4{
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-size: 2vw;
}

/* .b{
    width: 80vw;
} */
#results
{
    width: 36vw;
    height: 27vw;
}
#my_camera
{
    display: inline-block;
}
#accept
{
    font-family: "Trirong", serif;
}
#display
{
    font-family: "Trirong", serif;
    color: white;
    margin-top: 2vw;
    text-decoration: underline;
    font-size: 2vw;
    font-weight: 700;
}
#img
{
    padding: 10px 0;
}
#user
{
    text-align: center;    
    padding: 10px 0;
}
#heading
{    
    font-variant: small-caps;
    text-align: center;
    text-shadow: 1.5px 1.5px 1.5px white;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 4vw;
    margin-top: 5.4vw;
    margin-bottom: 5.4vw;
}
#heading1
{    
    font-variant: small-caps;
    text-align: center;
    color: white;
    text-shadow: 1.5px 1.5px 1.5px red;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 2vw;
}
#heading2
{    
    font-variant: small-caps;
    text-align: center;
    color: white;
    text-shadow: 1.5px 1.5px 1.5px red;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 2vw;
}
#image
{
    color: red;
}
#btn
{
    margin-top: 20px;
}

@media only screen and (max-width: 800px) {
    .collapse {
        background: linear-gradient(black, rgba(48, 48, 48, 0.753));
        padding: 15px;
        border-radius: 6px;
    }
  }